@page "/staff_landing"

<div class="header-container">
    <div class="box"><span class="rand">rand</span>Box</div>
    <div class="header-content">
        <div class="welcome-text">Welcome Mr Barnabas :)</div>
        <div class="info-container">
            <div class="sub-info">
                <p>Total Subscriptions</p>
                <p>254</p>
                <p>STONKS UPPIES :)</p>
            </div>
            <div class="sales-info">
                <p>Total Sales</p>
                <p>$541</p>
                <p>STONKS DOWN :(</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="nav-item" style="color: #2cb67d;"><b>Dashboard</b></div>
    <div class="nav-item">Manage Store</div>
    <div class="nav-item">Manage Purchases</div>
    <div class="nav-item">Manage Subscriptions</div>
    <div class="nav-item">Manage Coupons</div>
</div>
<div class="rectangle-container">
    <div class="custom-shape below-dashboard">
        <div class="arrow"></div>
			

            
    </div>
    <div class="custom-shape below-dashboard">
        <div class="arrow"></div>
            
    </div>
    <div class="custom-shape new-rectangle">
        <div class="arrow"></div>
			
          
    </div>
    <div class="custom-shape new-rectangle" style="right: 50px;">
        <div class="arrow"></div>
         
    </div>
	<p class="top-graph-label">Sales Over Time</p>
	<p class="top-graph-label" style="left: 65%;">Top 5 Products</p>
	<p class="bottom-graph-label">Subscription Statistics</p>
	<p class="bottom-graph-label" style = "left: 67%;">Category Statistics</p>
		
	

</div>