@page "/staff"

<h4> Welcome Mr Lim</h4>

<div class="container-row">
    <div class="subContainer">
        <div class="Info">Total Subscriptions</div>
        <div class="Info-number">247</div>
    </div>

    <div class="salesContainer">
        <div class="Info">Total Sales</div>
        <div class="Info-number">$1632.32</div>
    </div>
</div>