@page "/staff"
@* @attribute [Authorize(Roles = "Staff")] *@

<section class="m-4 my-5">
    <h4 class="mb-4">Welcome Mr Lim</h4>

    <div class="col d-flex justify-content-between">
        <div class="subContainer text-center">
            <div class="info">Total Subscriptions</div>
            <div class="info-number">247</div>
        </div>

        <div class="usersContainer text-center">
            <div class="info">Total No. of Users</div>
            <div class="info-number">23498</div>
        </div>

        <div class="salesContainer text-center">
            <div class="info">Total Sales</div>
            <div class="info-number">$1632.32</div>
        </div>
    </div>
</section>