@page "/staff/staff"
@inject IGenericService<Staff> StaffService
@inject NavigationManager Navigation

@if (staff == null || filteredStaffComponents == null)
{
    <h4>Loading Staff</h4>
}
else
{
    <div class="col d-flex justify-content-between align-items-center mb-4">
        <h3 class="m-0">Staff</h3>
        <div class="position-relative">
            <i class="bi bi-search search-icon position-absolute" />
            <input class="search-box" placeholder="Search Staff Name" @oninput=FilterStaff />
        </div>
    </div>

    <div class="options-bar col d-flex mb-4">
        <h4 class="option-btn add-btn m-0" @onclick=OpenAddModal>
            Add Staff
        </h4>
        <h4 class="option-btn edit-btn m-0 @(IsEditButtonActive() ? "": "inactive")" @onclick=OpenEditModal>
            Edit Staff
        </h4>
        <h4 class="option-btn delete-btn m-0 @(IsDeleteButtonActive() ? "" : "inactive")" @onclick=OpenDeleteModal>
            Remove Staff
        </h4>
    </div>

    <CreateEditStaffModal @ref="Modal" OnSuccessfulSubmit="RefreshStaff" />
    <DeleteModal @ref="DeleteModal" OnSuccessfulConfirm="DeleteSelectedStaff" />

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Contact Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var staffMember in filteredStaffComponents!)
                {
                    var staff = staffMember.Staff;
                    <tr class="@(staffMember.Selected ? "selected" : "")" @onclick="@(() => SelectStaff(staffMember))">
                        <td>@staff!.StaffID</td>
                        <td>@staff!.FirstName</td>
                        <td>@staff!.LastName</td>
                        <td>@staff!.Email</td>
                        <td>@staff!.DateOfBirth.ToString("dd.MM.yy", CultureInfo.InvariantCulture)</td>
                        <td>@staff!.ContactNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Staff>? staff { get; set; }
    private List<StaffComponent>? filteredStaffComponents { get; set; }

    private CreateEditStaffModal? Modal;
    private DeleteModal? DeleteModal;

    protected override async Task OnInitializedAsync()
    {
        StaffService._httpInterceptorService.RegisterEvent();

        await RefreshStaff();
    }

    protected void SelectStaff(StaffComponent component)
    {
        component.Selected = !component.Selected;
    }

    private void FilterStaff(ChangeEventArgs e)
    {
        string? search = e.Value!.ToString();
        if (search != null && search != "")
        {
            var filtered = staff!.FindAll(x => (x.FirstName + " " + x.LastName).Contains(search!));
            filteredStaffComponents = MapStaffToComponent(filtered);
        }
        else
        {
            filteredStaffComponents = MapStaffToComponent(staff!);
        }
    }

    protected bool IsEditButtonActive()
    {
        return filteredStaffComponents!.Count(x => x.Selected) == 1;
    }

    protected bool IsDeleteButtonActive()
    {
        return filteredStaffComponents!.Count(x => x.Selected) >= 1;
    }

    protected void OpenAddModal()
    {
        Modal!.OpenInAddMode();
    }

    protected void OpenEditModal()
    {
        if (!IsEditButtonActive())
        {
            return;
        }
        var staffMember = filteredStaffComponents!.FirstOrDefault(x => x.Selected)!.Staff;
        Modal!.OpenInEditMode(staffMember!);
    }

    protected void OpenDeleteModal()
    {
        if (!IsDeleteButtonActive())
        {
            return;
        }
        DeleteModal!.Open();
    }

    private List<StaffComponent> MapStaffToComponent(List<Staff> staff)
    {
        return staff.Select(x => new StaffComponent
            {
                Staff = x,
                Selected = false
            }).ToList();
    }

    protected async Task DeleteSelectedStaff()
    {
        var selectedStaff = filteredStaffComponents!.FindAll(x => x.Selected).Select(x => x.Staff).ToList();

        foreach (var staffMember in selectedStaff)
        {
            await StaffService.DeleteById(staffMember!.StaffID);
        }

        await RefreshStaff();
    }

    protected async Task RefreshStaff()
    {
        staff = await StaffService.GetAll();
        filteredStaffComponents = MapStaffToComponent(staff);
    }

    protected class StaffComponent
    {
        public Staff? Staff { get; set; }
        public bool Selected { get; set; }
    }
}
