.stock-title {
	font-size: 1.75em;
	font-weight: 500;
}

.stock-alert {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.2em;
	font-weight: 500;
	color: #f55353;
}

.product-carousel ul {
	gap: 3rem;
	margin-bottom: 2.5rem;
}

.page-title {
	margin: 0;
	line-height: 4rem;
	font-size: 1.75em;
	font-weight: 500;
}

.title-bar {
	margin-top: 3rem;
	column-gap: 3rem;
}

.store-section-dropdown {
	padding: 0.5rem;
	max-width: 15rem;
	max-height: 2.8rem;
	font-size: 1.2em;
	cursor: pointer;
}

.page-invalid {
	margin-top: 1.5rem;
	font-size: 1.2em;
	font-weight: 500;
	color: #f55353
}
