@page "/staff/store"
@inject NavigationManager Navigation
@inject IGenericService<Category> CategoryService
@inject IGenericService<Product> ProductService


@if (products == null || categories == null)
{
    <h4>Loading Product and Categories</h4>
}
else
{
    <div style="font-size:2rem;">Stock alerts</div>
    <div style="color: #f55353; font-size:1.25rem;margin-bottom:2rem">Low stock!</div>

    <div class="product-carousel col d-flex align-content-center">
        <ul class="list-unstyled d-flex">
            @foreach (var product in products!)
            {
                if (product.StockNo < 200)
                {
                    
                    var class_size = "";
                    <li>
                        <div>
                            <ProductCard Product=@product ClassSize=@class_size />
                        </div>
                    </li>
                }
            }
        </ul>
    </div>

    <div style="margin-top: 3.7em;font-size:2rem;">Store Management</div>
    <div style="font-size:1.25rem;margin-bottom:2rem">All Products</div>

    <div class="product-carousel row">
        @foreach (var product in products!)
        {
            var class_size = "";
            <div class="col-md-3 mb-3">
                <!-- Adjust the column size as needed -->
                <ProductCard Product=@product ClassSize=@class_size />
            </div>
        }
    </div>
}

@code {
    private List<Category>? categories;
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetAll();
        products = await ProductService.GetAll();
    }
}
