.modal-content {
    background-color: #16151a;
}

.inactive {
    opacity: 0%;
    z-index: -1;
}

.show {
    z-index: 10;
    opacity: 100%;
}

.close-btn {
    cursor: pointer;
    font-size: 1.25em;
    color: #e7e7e780;
    font-style: normal;
    letter-spacing: 0.05rem;
}

.form-content {
    width: 40%;
}

label {
    font-family: Inter, sans-serif;
    font-size: 1.15em;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.modal-title {
    font-size: 2em;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.category-form-section {
    font-family: Inter, sans-serif;
}

.category-form-section h3 {
    font-size: 1.2em;
    font-weight: 500;
}

.category-form-section p {
    font-size: 1.1em;
    font-weight: normal;
    color: #acacac;
}

.dollar-prefix {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #d7d7d7;
    margin: 0;
    margin-right: 0.8rem;
}

.btn-submit {
    border: 2px solid #7f5af0;
    border-radius: 10px;
    color: #e7e7e7;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 0.5rem 0rem;
}

