<div class="modal modal-dialog-centered @(show ? "show" : "inactive")" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content p-4 text-center">
            <h2 class="modal-title mb-4">Confirm @Option</h2>
            <div class="px-4">
                <h4 class="modal-desc mb-4">Are you sure you want to @Option.ToLower() these item(s)?</h4>
                <div class="row">
                    <button class="btn btn-modal btn-confirm col" @onclick="Confirm">Confirm</button>
                    <div class="col-1"></div>
                    <button class="btn btn-modal btn-reject col" @onclick="Close">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade @(show ? "show" : "inactive")" />

@code {
    [Parameter]
    public EventCallback OnSuccessfulConfirm { get; set; }
    [Parameter]
    public string Option { get; set; } = "Delete";

    private bool show = false;

    public void Open()
    {
        show = true;
        StateHasChanged();
    }

    public void Close()
    {
        show = false;
        StateHasChanged();
    }

    protected async Task Confirm()
    {
        Close();
        await OnSuccessfulConfirm.InvokeAsync();
    }
}
