<div class="partner-card row d-flex justify-content-start align-content-between">
	<img src="@($"images/categories/{Category!.Name!.ToLower().Replace(' ', '_')}_cat.png")" />
	<div class="info">
		<p>@Category.Description</p>
		<h3 class="m-0">@Category.Name</h3>
	</div>
</div>

@code {
	[Parameter]
	public Category? Category { get; set; }
}