<div class="partner-card row d-flex justify-content-start align-content-between">
	<img src="@($"images/partners/{PartnerRegistryName}_1.png")" />
	<div class="info">
		<p>@PartnerDesc</p>
		<h3 class="m-0">@PartnerNameCountry</h3>
	</div>
</div>

@code {
	[Parameter]
	public string PartnerNameCountry { get; set; } = " ";
	[Parameter]
	public string PartnerDesc { get; set; } = " ";
	[Parameter]
	public string PartnerRegistryName { get; set; } = "";
}