.product-card {
    width: 14rem;
    height: 20rem;
    border: 1px solid #9494941A;
    background-color: #1a191c;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;

    transition: transform 300ms ease;
}

.product-card:hover {
    transform: scale(1.05);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.product-card .randbox-badge {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    width: fit-content;
    height: fit-content;
    padding: 0.15em 1em 0.15em 1em;
    border-radius: 20px;
    font-weight: 700;
    z-index: 2;
}

.info {
    flex-direction: column;
    flex:1 ;
    padding: 0.9rem;
}

.product-card h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 1.15em;
}

.product-card p {
    font-family: Inter, sans-serif;
    font-size: 0.9em;
    min-height: 1.5em;
}

.product-name {
    letter-spacing: 0.02rem;
}

.bottom-info .price {
    font-weight: 700;
}

.bottom-info .category-name {
    font-weight: 500;
}

.desc {
    color: #c6c6c6;
    font-weight: 500;
    letter-spacing: 0.02rem;
}