<div class="@ClassSize product-card-showcase row d-flex justify-content-start align-content-between">
	<div class="gradient"></div>
	<img src="@Product!.ThumbnailURL" />
	<div class="randbox-badge">Country</div>
	<div class="info p-0">
		<h3>@Product!.Name</h3>
		<p class="m-0">@Product!.Description</p>
	</div>
</div>

@code {
	[Parameter]
	public Product? Product { get; set; }
	[Parameter]
	public string ClassSize { get; set; } = "";
}