<div class="subscription-category-card">
    <h3 class="duration">Duration: <span>@SubscriptionCategory!.Duration month@(SubscriptionCategory.Duration > 1 ? "s" : "")</span></h3>
    <h2 class="monthly-price-label">Base Price:</h2>
    <h2 class="monthly-price">$@SubscriptionCategory.BaseMonthlyPrice<span>/month</span></h2>
    <p class="description"><span>Description:</span> @SubscriptionCategory.Description</p>
</div>

@code {
    [Parameter]
    public SubscriptionCategory? SubscriptionCategory { get; set; }
}
