@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<div class="page">
    <main>
        <AuthorizeView Policy="UserOrCustomerPolicy">
            <NavBar />
            <div class="content flex-grow-1">
                <article class="px-5">
                    @Body
                </article>
                <footer class="flex-grow-0 d-flex col justify-content-between align-content-center">
                    <p class="m-0 py-2 px-3">randBox.co Pte. Ltd.</p>
                    <p class="m-0 py-2 px-3">Copyright, all rights reserved</p>
                </footer>
            </div>
        </AuthorizeView>
   
        <AuthorizeView Policy="StaffPolicy">
            <div class="col d-flex">
                <div class="flex-grow-0 flex-shrink-0">
                    <StaffNavBar />
                </div>
                <div class="content flex-grow-1">
                    <article class="my-5">
                        @Body
                    </article>
                    <footer class="flex-grow-0 d-flex col justify-content-between align-content-center">
                        <p class="m-0 py-2 px-3">randBox.co Pte. Ltd.</p>
                        <p class="m-0 py-2 px-3">Copyright, all rights reserved</p>
                    </footer>
                </div>
            </div>
        </AuthorizeView>
    </main>
</div>

@code {
    private bool _isDarkMode = true;
}