@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <NavBar />

        <article class="px-5">
            @Body
        </article>
    </main>
</div>
