@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <NavBar />

        <article class="px-5">
            @Body
        </article>
        <footer class="d-flex col justify-content-between align-content-center bg-black">
            <p class="m-0 p-2">randBox.co Pte. Ltd.</p>
            <p class="m-0 p-2">Copyright, all rights reserved</p>
        </footer>
    </main>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("changeOnScroll");
    }
}