@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* TODO: SEPARATE BOTH CUSTOMER AND STAFF NAVBARS *@

    @*  <NavBar />
        <article class="px-5">
            @Body
        </article>
        <footer class="d-flex col justify-content-between align-content-center">
            <p class="m-0 py-2 px-3">randBox.co Pte. Ltd.</p>
            <p class="m-0 py-2 px-3">Copyright, all rights reserved</p>
        </footer>
    *@

        <div class="col d-flex">
            <div class="flex-grow-0 flex-shrink-0">
                <StaffNavBar />
            </div>
            <div class="content flex-grow-1">
                <article class="my-5">
                    @Body
                </article>
                <footer class="flex-grow-0 d-flex col justify-content-between align-content-center">
                    <p class="m-0 py-2 px-3">randBox.co Pte. Ltd.</p>
                    <p class="m-0 py-2 px-3">Copyright, all rights reserved</p>
                </footer>
            </div>
        </div>
    </main>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        /*if (firstRender)
            await JSRuntime.InvokeVoidAsync("changeOnScroll");*/
    }
}