@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <NavBar />

        <article class="px-5">
            @Body
        </article>
    </main>
</div>

@code {

    IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("changeOnScroll");
    }    

    public async Task ChangeOnScroll()
    {
        await module!.InvokeVoidAsync("changeOnScroll");
    }
}