<div class="navbar container-fluid col d-flex justify-content-around">
	<div class="randbox-title col d-flex">
		<h1 class="randbox-title-1">rand</h1>
		<h1 class="randbox-title-2">Box</h1>
	</div>
	<div class="navmenu col d-flex justify-content-end align-items-center text-center">
		<span>Home</span>
		<span>Products</span>
		<span>Pricing</span>
		<span>About Us</span>
		<span>Log In</span>
		@* <div class="register-spotlight"></div> *@
		<button class="btn btn-register">Register Here</button>
	</div>
</div>


