<header class="navbar d-flex justify-content-end align-items-center">
	<div class="randbox-title col d-flex">
		<h1 class="randbox-title-1 m-0">rand</h1>
		<h1 class="randbox-title-2 m-0">Box</h1>
	</div>
	<div class="d-inline-block">
		<nav>
			<ul class="m-0">
				<li>Home</li>
				<li>Products</li>
				<li>Pricing</li>
				<li>About Us</li>
				<li>Log In</li>
			</ul>
			@* <div class="register-spotlight"></div> *@
			<button class="btn btn-register">Register Here</button>
		</nav>
	</div>
</header>


