@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<header class="navbar navbar-user d-flex justify-content-end align-items-center">
	<div class="randbox-title col d-flex">
		<h1 class="randbox-title-1 m-0">rand</h1>
		<h1 class="randbox-title-2 m-0">Box</h1>
	</div>
	<div class="d-inline-block">
		<nav>
			<ul class="m-0">
				<li><NavLink class="navbar-option" href="" Match=NavLinkMatch.All>Home</NavLink></li>
				<li><NavLink class="navbar-option" href="products">Products</NavLink></li>
				<li><NavLink class="navbar-option" href="pricing">Pricing</NavLink></li>
			</ul>
			<AuthorizeView>
				<NotAuthorized>
					<div class="gradient-backdrop"></div>
					<ul class="m-0 px-0">
						<li><NavLink class="navbar-option" href="authentication/login">Log In</NavLink></li>
					</ul>
					@* <div class="register-spotlight"></div> *@
					<a class="btn btn-register" href="authentication/register">Register Here</a>
				</NotAuthorized>
				<Authorized>
					<ul class="m-0 px-0">
						<li><NavLink class="navbar-option" href="cart">Cart</NavLink></li>
						<li><NavLink class="navbar-option" href="purchases">Purchases</NavLink></li>
						<li><NavLink class="navbar-option" @onclick="Logout">Logout</NavLink></li>
					</ul>
					<a><img src="images/pfp.png" class="rounded-circle" height="40"/></a>
				</Authorized>
			</AuthorizeView>
		</nav>
	</div>
</header>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await JSRuntime.InvokeVoidAsync("changeOnScroll");
	}

	protected void Logout()
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
}


