.navbar {
	position: sticky;
	top: 0px;
	height: 4.5rem;
	padding: 0px 1.5rem 0px 2em;
	background-color: transparent;
	transition: all 500ms;
	z-index: 100;
	overflow: hidden;
}

.gradient-backdrop {
	width: 12.5%;
	height: 4rem;
	background-color: #3615ED;
	filter: blur(50px);
	position: absolute;
	top: 0px;
	right: -70px;
	z-index: -1;
	opacity: 60%;
}

.scrolled {
	background-color: #16161A50;
	backdrop-filter: blur(10px);
}

.randbox-title {
	margin-right: auto;
}

.randbox-title h1 {
	font-size: 1.5em;
	font-weight: 700
}

.randbox-title .randbox-title-2 {
	color: var(--randbox-secondary-colour)
}

ul {
	display: inline-flex;
	list-style: none;
}

li {
	padding-right: 2.5rem;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1rem;
	line-height: 4.5rem;
	white-space: nowrap;
}

.register-spotlight {
	/*width: 200px;
	height: 100px;
	transform: scale(200px, 100px);
	position: absolute;
	right: 0px;
	top: 0;
	background-image: url("images/neon_emphasis_register_button.png");
	background-size: contain;
	background-repeat: no-repeat;*/
}

.btn-register {
	max-height: 2.5rem;
	background-color: var(--randbox-action-colour);
	color: var(--randbox-primary-colour);
	border-radius: 10px;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.1rem;
	white-space: nowrap;
}

a {
	color: var(--randbox-primary-colour);
	text-decoration-line: none;
	cursor: pointer;
	transform: scale(1.0);
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease;
}

a:hover {
	transform: scale(1.1);
}

