@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Customer")]

<header class="navbar d-flex justify-content-end align-items-center">
	<div class="randbox-title col d-flex">
		<h1 class="randbox-title-1 m-0">rand</h1>
		<h1 class="randbox-title-2 m-0">Box</h1>
	</div>
	<div class="d-inline-block">
		<nav>
			<ul class="m-0">
				<li><a href="">Home</a></li>
				<li><a href="products">Products</a></li>
				<li><a href="pricing">Pricing</a></li>
				<li><a href="about_us">About Us</a></li>
			</ul>
			<AuthorizeView>
				<NotAuthorized>
					<ul class="m-0 px-0">
						<li><a href="authentication/login">Log In</a></li>
					</ul>
					@* <div class="register-spotlight"></div> *@
					<a class="btn btn-register" href="authentication/register">Register Here</a>
				</NotAuthorized>
				<Authorized>
					<ul class="m-0 px-0">
						<li><a href="cart">Cart</a></li>
						<li><a href="purchases">Purchases</a></li>
						<li><a @onclick="Logout">Logout</a></li>
					</ul>
					<a><img src="images/pfp.png" class="rounded-circle" height="40"/></a>
				</Authorized>
			</AuthorizeView>
		</nav>
	</div>
</header>

@code {
	protected void Logout()
	{
		Navigation.NavigateToLogout("authentication/logout");
	}
}


