<div class="navbar row d-flex align-content-between vh-100">
	<div class="randbox-title col d-flex">
		<h1 class="m-0">rand<span>Box</span></h1>
	</div>
	<nav class="m-0">
		<ul class="row gy-5 m-0 p-0">
			<li class="m-0"><a href="staff">Dashboard</a></li>
			<li><a href="staff/store">Manage<br>Store</a></li>
			<li><a href="staff/purchases">Manage<br>Purchases</a></li>
			<li><a href="staff/susbcriptions">Manage<br>Subscriptions</a></li>
			<li><a href="staff/coupons">Manage Coupons</a></li>
		</ul>
	</nav>
	<div class="profile col d-flex align-items-center">
		<a><img src="images/pfp.png" class="rounded-circle" height="40" /></a>
		<h4 class="m-0 mx-3">Patrick Wu</h4>
	</div>
</div>

@code {

}
