<div class="navbar vh-100 p-0">
	<div class="inner-navbar row d-flex align-content-between vh-100">
		<div class="randbox-title col d-flex px-3">
			<h1 class="m-0">rand<span>Box</span></h1>
		</div>
		<nav class="m-0 p-0">
			<ul class="row m-0 p-0">
				<li class="m-0"><a href="staff">Dashboard</a></li>
				<li><a href="staff/store">Manage Store</a></li>
				<li><a href="staff/purchases">Manage Purchases</a></li>
				<li><a href="staff/subscriptions">Manage Subscriptions</a></li>
			</ul>
		</nav>
		<div class="profile col d-flex align-items-center p-0">
			<a><img src="images/pfp.png" class="rounded-circle" height="40" /></a>
			<h4 class="m-0 mx-3">Patrick Wu</h4>
		</div>
	</div>
	<div class="collapse-layer vh-100 col d-flex align-items-center">
		<i class="bi bi-chevron-right p-3" />
	</div>
</div>

@code {

}
