.navbar {
	position: sticky;
	top: 0px;
	background-color: #121212;
	transform: translateX(-18.25rem);
	margin-right: -18.25rem;
	transition-property: transform, margin;
	transition-duration: 500ms;
	transition-timing-function: ease;
}

	.navbar:hover {
		transform: translateX(0);
		margin-right: 0rem;
	}

	.navbar:hover .collapse-layer i {
		transform: rotate(-180deg);
	}

.inner-navbar {
	max-width: 20rem;
	padding: 2rem 3rem;
}

.collapse-layer i {
	font-size: 1.5em;
	transform: rotate(0deg);
	transition: transform 200ms ease;
}

.randbox-title h1 {
	font-size: 1.5em;
	font-weight: 700;
	margin-right: auto;
}

	.randbox-title span {
		color: var(--randbox-secondary-colour)
	}

ul {
	display: inline-flex;
	list-style: none;
	row-gap: 1.5rem;
}

li {
	padding: 1rem;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: 0.1rem;
}

a {
	color: var(--randbox-primary-colour);
	text-decoration-line: none;
	cursor: pointer;
}

.profile h4 {
	font-size: 1.2em;
	font-weight: 500;
}