.product-card-showcase {
    width: 14rem;
    height: 19rem;
    padding: 1rem;
    border: 1px solid #E2E2E234;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    z-index: 0;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    background: linear-gradient(to top, #000000AF, transparent 70%);
    z-index: 1;
}

.product-card-showcase .randbox-badge {
    width: fit-content;
    height: fit-content;
    padding: 0.15em 1em 0.15em 1em;
    border-radius: 20px;
    font-weight: 700;
    z-index: 2;
}

.info {
    z-index: 2;
}

.product-card-showcase h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 1.15em;
}

.product-card-showcase p {
    font-family: Inter, sans-serif;
    font-size: 0.9em;
    min-height: 1.5em;
}

.card-small {
    transform: scale(0.85);
    opacity: 20%;
}

table {
    color: #E7E7E7;
    border-color: #25242d;
}

thead tr th {
    border: none;
}

thead {
    border-bottom-color: #25242d;
    border-bottom-width: 4px;
}

tr {
    border-color: #25242d;
}

th {
    text-align: center;
    font-weight: 700;
}

td {
    text-align: center;
    vertical-align: middle;
}

.item-col {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.item-col .item-info p {
    color: #686868;
    font-weight: 500;
    margin: 0;
}

    .item-col img {
        position: relative;
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 20px;
    }

.btn-decrement {
    color: #acacac;
    font-size: 1.25rem;
    padding: 0.15rem 0.65rem;
    background-color: #1f1d21;
    border: 1px solid #e5e5e510;
    transition: background-color 100ms ease;
}

    .btn-decrement:hover {
        background-color: #0f0d11;
    }

.qty {
    color: #acacac;
    font-size: 1.15rem;
    font-weight: 700;
    padding: 0.15rem 0.65rem;
    background-color: #1f1d21;
    border: 1px solid #e5e5e510;
    width: 3rem;
}

.btn-increment {
    color: #acacac;
    font-size: 1.25rem;
    padding: 0.15rem 0.65rem;
    background-color: #1f1d21;
    border: 1px solid #e5e5e510;
    transition: background-color 100ms ease;
}

.btn-increment:hover {
    background-color: #0f0d11;
}

.remove-btn {
    color: #de5252;
    padding: 0.35rem 0.6rem;
    font-size: 1.25rem;
    background-color: #25242d;
    border-radius: 10px;
    transition: background-color 100ms ease;
}

    .remove-btn:hover {
        background-color: #1f1d21;
    }
.btn-submit {
    border: 2px solid #7f5af0;
    border-radius: 10px;
    color: #e7e7e7;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 0.5rem 0rem;
}

.grand-total {
    font-weight: 700;
}