@page "/"

<PageTitle>randBox</PageTitle>

<section class="hero-container vh-100 d-flex justify-content-center align-items-center">
	<div class="row text-center d-flex justify-content-center gap-2">
		<div class="randbox-title">
			<h1 class="d-inline-block randbox-title-1">rand</h1>
			<h1 class="d-inline-block randbox-title-2">Box</h1>
		</div>
		<h3 class="subtitle">The Future of Mystery Boxes is Here</h3>

		<button class="btn btn-subscribe">Subscribe Now</button>
	</div>

</section>