@page "/"

<PageTitle>randBox</PageTitle>

<div class="container-md">
	<div class="randbox-title mx-auto">
		<h1 class="d-inline-block randbox-title-1">rand</h1>
		<h1 class="d-inline-block randbox-title-2">Box</h1>
	</div>
	<h3 class="subtitle text-center">The Future of Mystery Boxes is Here</h3>

	<button class="btn btn-subscribe mx-auto">Subscribe Now</button>

</div>