.hero-container {
	margin-top: -4.5rem;
	background: 
		radial-gradient(
		circle 1000px at center, 
		#25167A 0%,
		#25167711 50%,
		transparent 70%
	);
}

.randbox-title h1 {
	margin-top: 2.5rem;
	font-size: 5em;
	font-weight: 700;
	letter-spacing: 0.5rem;
}

.randbox-title .randbox-title-2 {
	color: var(--randbox-secondary-colour)
}

.subtitle {
	margin-top: 0.5rem;
	font-weight: 500;
	font-size: 2em;
	letter-spacing: 0.1rem;
}

.btn-subscribe {
	margin-top: 2rem;
	max-width: 14rem;
	background-color: var(--randbox-action-colour);
	color: var(--randbox-primary-colour);
	border-radius: 10px;
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: 0.1rem;
}



.section-2-title {
	max-width: 25rem;
}

.section-2-title span {
	color: var(--randbox-secondary-colour);
}

.randbox-descriptor {
	max-width: 29rem;
}