.hero-container {
	margin-top: -4.5rem;
	background: 
		radial-gradient(
		circle 1000px at center, 
		#25167A 0%,
		#25167711 50%,
		transparent 70%
	);
}

.randbox-title h1 {
	margin-top: 2.5rem;
	font-size: 4.25em;
	font-weight: 700;
	letter-spacing: 0.5rem;
}

.randbox-title .randbox-title-2 {
	color: var(--randbox-secondary-colour)
}

.subtitle {
	margin-top: 0.5rem;
	font-weight: 500;
	font-size: 1.75em;
	letter-spacing: 0.1rem;
}

.btn-subscribe {
	margin-top: 2rem;
	max-width: 14rem;
	background-color: var(--randbox-action-colour);
	color: var(--randbox-primary-colour);
	border-radius: 10px;
	font-size: 1.3em;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.section-2 {
	padding: 3.5rem 2.5rem 3.0rem 2.5rem;
	gap: 3rem;
}

.section-2-title {
	max-width: 25rem;
	font-weight: 700;
	letter-spacing: 0.25rem;
	line-height: 1.25em;
}

.section-2-title span {
	color: var(--randbox-secondary-colour);
}

section-2-content {
	position: relative;
}

.randbox-mockup-box {
	max-width: 25rem;
	height: auto;
	opacity: 65%;
	-webkit-mask-image: linear-gradient(to top, transparent 10%, black );
}

.randbox-descriptor {
	position: relative;
	font-family: 'Inter', sans-serif;
	max-width: 29rem;
}

.randbox-descriptor h4 {
	font-weight: 700;
}

.randbox-descriptor p {
	font-weight: normal;
	font-size: 0.98em;
}

.desc-1 {
	bottom: 11rem;
	left: 7rem;
}

.desc-2 {
	top: 8rem;
	right: 8rem;
}


.section-3 {
	padding: 3.5rem 16.9rem 3.0rem 16.9rem;
}

.randbox-section-header {
	gap: 1rem;
}

.randbox-section-header h2 {
	font-weight: 700;
	font-size: 2.25em;
	letter-spacing: 0.25rem;
}

.randbox-section-header span {
	color: var(--randbox-secondary-colour);
}

.randbox-section-header p {
	font-family: Inter, sans-serif;
	font-weight: normal;
	font-size: 1.15em;
	max-width: 38rem;
}

.product-card-showcase {
	width: 15rem;
	height: 22rem;
	padding: 1em;
	border: 1px solid #E2E2E234;
	border-radius: 20px;
	background: 
		url("images/products/ruby_cocoa_kitkat.png"), 
		linear-gradient(to top, black, transparent);
}

.product-card-showcase .randbox-badge {
	width: fit-content;
	height: fit-content;
	padding: 0.15em 1em 0.15em 1em;
	background-color: #D45A50;
	border-radius: 20px;
	font-weight: 700;
}

.product-card-showcase h3 {
	font-weight: 700;
	font-size: 1.5em;
}