@page "/"

<PageTitle>randBox</PageTitle>

<section class="hero-container vh-100 d-flex justify-content-center align-items-center">
	<div class="row text-center d-flex justify-content-center gap-4">
		<div class="randbox-title col d-flex justify-content-center">
			<h1 class="randbox-title-1">rand</h1>
			<h1 class="randbox-title-2">Box</h1>
		</div>
		<h3 class="subtitle">The Future of Mystery Boxes is Here</h3>

		<button class="btn btn-subscribe">Subscribe Now</button>
	</div>

</section>

<section class="section-2 vh-100 row d-flex">
		<div class="d-flex justify-content-center">
			<h1 class="section-2-title text-center">Reinventing The <span>Mystery Box</span></h1>
		</div>
		<div class="section-2-content col d-flex justify-content-center align-items-center">
			<div class="randbox-descriptor desc-1">
				<h4>Header 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<img class="randbox-mockup-box" src="images/black_mockup_box.png" />
			<div class="randbox-descriptor desc-2">
				<h4>Header 2</h4>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
</section>