@page "/"

<PageTitle>randBox</PageTitle>

<section class="hero-container vh-100 d-flex justify-content-center align-items-center">
	<div class="row text-center d-flex justify-content-center gap-4">
		<div class="randbox-title col d-flex justify-content-center">
			<h1 class="randbox-title-1">rand</h1>
			<h1 class="randbox-title-2">Box</h1>
		</div>
		<h3 class="subtitle">The Future of Mystery Boxes is Here</h3>

		<button class="btn btn-subscribe">Subscribe Now</button>
	</div>

</section>

<section class="section-2 vh-100 row d-flex align-content-center">
		<div class="d-flex justify-content-center">
			<h1 class="section-2-title text-center">Reinventing The <span>Mystery Box</span></h1>
		</div>
		<section class="section-2-content col d-flex justify-content-around align-items-center">
			<div class="randbox-descriptor desc-1">
				<h4>Header 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<img class="randbox-mockup-box" src="images/black_mockup_box.png" />
			<div class="randbox-descriptor desc-2">
				<h4>Header 2</h4>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</section>
</section>

<section class="section-3 vh-100 row d-flex justify-content-center">
	<div class="randbox-section-header row d-flex justify-content-start align-content-start">
		<h2>No Two Unboxing The <span>Same</span></h2>
		<p>With over 100 items across more than 5 countries, every new unboxing is bound to be a never-seen before experience</p>
	</div>
	<div class="product-carousel col d-flex justify-content-center align-content-center">
		<ul class="list-unstyled d-flex">
			<li><ProductShowcaseCard ProductName="Kue Mangkok" ProductDesc="Traditional Steamed Cupcake" ProductRegistryName="kue_mangkok" ClassSize="card-small" /></li>
			<li><ProductShowcaseCard ProductName="Zwiebelkuchen" ProductDesc="Traditional Onion Cake" ProductRegistryName="zwiebelkuchen" /></li>
			<li><ProductShowcaseCard ProductName="Ruby-cocoa KitKat" ProductRegistryName="ruby_cocoa_kitkat" /></li>
			<li><ProductShowcaseCard ProductName="Ramune Soda Candy" ProductRegistryName="ramune_soda_candy" /></li>
			<li><ProductShowcaseCard ProductName="Dorayaki" ProductDesc="Unique Red Bean Pancake" ProductRegistryName="dorayaki" ClassSize="card-small" /></li>
		</ul>
	</div>
	<div class="d-flex justify-content-center">
		<button class="btn btn-browse">Browse More</button>
	</div>
</section>

<section class="section-4 vh-100 row d-flex justify-content-center">
	<div class="randbox-section-header row d-flex justify-content-start align-content-start">
		<h2><span>Supporting</span> Local Businesses</h2>
		<p>All of our products are sourced locally from the our partners in the item's country of origin</p>
	</div>
	<div class="d-flex justify-content-center align-content-center">
		<ul class="list-unstyled d-flex justify-content-evenly gap-5">
			<li><PartnerCard PartnerNameCountry="Zeit Für Brot, Germany" PartnerDesc="A local bakery in the heart of Berlin, featuring exquisite baked goods only in Germany." PartnerRegistryName="zeit_fur_brot" /></li>
			<li><PartnerCard PartnerNameCountry="Deepwear, Thailand" PartnerDesc="A local Thailand fashion business that sells unique but subtle clothing, all the way from Thailand." PartnerRegistryName="deepwear" /></li>
			<li><PartnerCard PartnerNameCountry="Lorenz, Germany" PartnerDesc="A family-owned snack business in Germany that produces snacks that beat out the competition" PartnerRegistryName="lorenz" /></li>
		</ul>
	</div>
	<div class="d-flex justify-content-center">
		<button class="btn btn-browse">View Our Partners</button>
	</div>
</section>