@page "/purchases"
@inject IOrderService OrderService
@inject IOrderItemService OrderItemService
@inject IProductService ProductService

<div style="margin-top: 50px;"></div>
<h3 class="white-text bold-text" style="margin-left: 200px; margin-right: 200px;">
    Subscription Information
</h3>
<div class="subscription-box">
    <div class="white-text">Subscription Type: Premium</div>
    <div class="white-text">Expiration Date: January 31, 2025</div>
    <div class="white-text">Price $19.99/month</div>
</div>

<div style="margin-top: 50px;"></div>
<h3 class="white-text bold-text" style="margin-left: 200px; margin-right: 200px;">
    Order Information
</h3>
<div class="subscription-box">
    <div class="white-text">Order Number: #1</div>
    <div class="white-text">Purchased On: January 31, 2025</div>
    <div class="white-text">Price: $19.99</div>
</div>



@code {
    public int OrderId { get; set; }
    private Orders? order;
    private List<Product>? products;
    private List<OrderItem>? orderitems;

    protected override async Task OnInitializedAsync()
    {
        ProductService._httpInterceptorService.RegisterEvent();
        OrderItemService._httpInterceptorService.RegisterEvent();
        OrderService._httpInterceptorService.RegisterEvent();
                                                                                
        order = await OrderService.GetById(OrderId);



    }
}
