.main-content-div {
    margin: 0rem 5rem;
}

.warn-text {
    color: #de5252;
}

.warn-info-text {
    color: #686868;
    letter-spacing: 0.05rem;
}

.section-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.item-box {
    border: 1px solid #ececec40;
    padding: 2rem 4rem;
    border-radius: 20px;
    background-color: transparent;
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
}

.active-until {
    font-size: 1.1em;
    color: #66f88f80;
    margin-bottom: 0.25rem;
}

.item-title {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.1rem;
    margin-bottom: 0.25rem;
}

.info {
    color: #686868;
    letter-spacing: 0.05rem;
}

.unsubscribe-btn {
    margin-top: 1rem;
    color: #de5252;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 400;
}

.price {
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0;
}

    .price span {
        color: #717171;
        font-size: 0.5em;
        letter-spacing: 0.1rem;
    }